@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --base_txt_color: #333;
  --main_color: #f36f21;
  --txt_color1: #fff;
  --base_font_size: 15px;
  --bg_color_gray:#eee;
}
body{
  font-family: 'Noto Sans KR', arial, sans-serif;
  font-size: var(--base_font_size);
  color: var(--base_txt_color);
}
a{
  font-size: var(--base_font_size);
  color: var(--base_txt_color);
  text-decoration: none;
}
a:hover{text-decoration: underline;}

#bo_v_share .btn{
  font-size: 0.9em !important;
}

#hd_login_msg{
  z-index: 1001;
  right: 0px;
}